@charset "utf-8";
/*
Diablo Layout By Bufo edit by Sedron
(c) Bufo Studio. All rights reserved.
*/

@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Trade+Winds);

/* General CSS Settings */
* {margin:0; padding:0;}
a { text-decoration:none; color:#5D4D27;}
a img {border:0;}
a:focus {outline:none; -moz-outline-style:none;}
a:hover {color:#1547E9; text-decoration:none;}
object {outline:none; -moz-outline-style:none;}
p {margin:1.8em 0;}
p.lead {margin-top:0;}
em em {font-style:normal;}
.relative {position:absolute;}
.left {float:left;}
.right {float:right;}
.clean_5 {height: 5px; width: 10%; float: left;}
.clean_20 {height: 20px; width: 10%; float: left;}

  /* ################################################################## */
 /* ############################ Page show ########################### */
/* ################################################################## */

html {}

body
{
	background: #000000 url('../_img/background/background.jpg') top center no-repeat;
	font-size: 13px;
	color: #6B0A53;
	font-family: Arial,Georgia,Comic Sans;
	padding: 0px;
	margin: 0px;
}

  /* ################################################################## */
 /* ############################# CONTENT ############################ */
/* ################################################################## */

#face {
	height: 500px;
	width: 505px;
	margin-top: 20px;
	margin-left: 110px;
	float: left;

}


#page {
	width: 1230px;
	margin: auto;
}

#logo {
	background: url('../_img/background/NARUTO.png') no-repeat;
	height: 300px;
	width: 355px;
	margin-top: -30px;
	margin-left: 0px;
		float: left;

}

#gran {
	background: url('../_img/background/gran.png') no-repeat;
	height: 180px;
	width: 280px;
	margin-top: 80px;
	margin-left: -200px;
		float: left;

}
#bastao {
	background: url('../_img/background/bastao.png') no-repeat;
	height: 250px;
	width: 160px;
	margin-top: 50px;
	margin-left: 140px;
		float: left;

}

#nto{
	background:url('../_img/background/nto.png') no-repeat;
	width:200px;
	margin-top:10px;
	margin-left:10px;
	float: left;
}


#content {
	background:url('../_img/content/content2.png') repeat-y;
	margin:auto;
	width:1200px;
	margin-top:30px;
	margin-left:30px;
	float: left;
}

#content_bot {
	background: url('../_img/content/content2.png') no-repeat;
	height: 74px;
	width:1200px;
	margin:auto;
	float: left;
	margin-left: 30px;
}


  /* ########################################## */
 /* ################ MENU TOP ################ */
/* ########################################## */

#menu_top {
	background: url('../_img/menu/menu_top2.png') top center no-repeat;
	height: 154px;
	width: 1209px;
	margin: -75px 0px 0px -71px;
	margin-right:15px;

	float: right;
}

#menu_top .left {
	margin-top: 37px;
	margin-left: 65px;
}

#menu_top .online {
	margin-left: 400px;
		margin-top: -10px;
	width: 260px;
	height: 80px;
}

#menu_top .right {
	margin-top: -60px;
	margin-left: 703px;
}

div.fadehover {
	position: relative;
}
 
img.a {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
 
img.b {
	position: absolute;
	left: 0;
	top: 0;
}

.divider{height:1px;width:inherit;}

/* left */

#menu_top_home {
	float: left;
	left: 80px;
	position: relative;
	top: 16px;
}

#menu_top_acc {
	float: left;
	position: relative;
	left: 200px;
	top: 16px;
}

#menu_top_shop {
	float: left;
	position: relative;
	left: 367px;
	top: 16px;
}

/* right */

#menu_top_forum {
	float: left;
	position: relative;
	left: -70px;
	margin: -3px 0px 0px 0px;
	top: 8px;
}

#menu_top_highscores {
	float: left;
	background:url("../images/menu/menu-label.png") no-repeat;
	position: relative;
	left: 50px;
	margin: -3px 0px 0px 0px;
	top: 8px;
}

#menu_top_register {
	float: left;
	position: relative;
	left: 170px;
	margin: -3px 0px 0px 0px;
	top: 8px;
}

  /* ########################################## */
 /* ################ MENU LEFT ############### */
/* ########################################## */

#menu_left {
	margin: -10px 0px 10px 69px;
	width: 182px;
	float: left;
}

#menu-label {
color:#CCCCCC;
float:left;
height:34px;
width:171px;
margin-left: 5px;
margin-bottom: 35px;
}

#icon-news, #icon-account, #icon-community, #icon-library, #icon-shop, #icon-toplevel, #icon-topguilds, #icon-search, #icon-info  {
width:64px;
height:64px;
float:left;
margin:-30px 5px 0 0px;
}

#icon-news { background:url("") no-repeat scroll 0 0 transparent; }
#icon-account { background:url("") no-repeat scroll 0 0 transparent; }
#icon-community { background:url("") no-repeat scroll 0 0 transparent; }
#icon-library { background:url("") no-repeat scroll 0 0 transparent; }
#icon-shop { background:url("") no-repeat scroll 0 0 transparent; }
#icon-toplevel { background:url("") no-repeat scroll 0 0 transparent; }
#icon-topguilds { background:url("") no-repeat scroll 0 0 transparent; }
#icon-search { background:url("") no-repeat scroll 0 0 transparent; }
#icon-info { background:url("") no-repeat scroll 0 0 transparent; }

#text-news, #text-account, #text-community, #text-library, #text-shop {
    margin-left: -20px;
    height: 71px;
    width: 200px;
}
#text-toplevel, #text-topguilds, #text-search, #text-info {
    margin-left: -20px;
    height: 71px;
    width: 200px;
}

#text-news { background: url("../images/menu/label-news.png") no-repeat; }
#text-account { background: url("../images/menu/label-account.png") no-repeat; }
#text-community { background: url("../images/menu/label-community.png") no-repeat; }
#text-library { background: url("../images/menu/label-library.png") no-repeat; }
#text-shop { background: url("../images/menu/label-shop.png") no-repeat; }
#text-toplevel { background: url("../images/menu/label-top-level.png") no-repeat; }
#text-topguilds { background: url("../images/menu/label-top-guilds.png") no-repeat; }
#text-search { background: url("../images/menu/label-search.png") no-repeat; }
#text-info { background: url("../images/menu/label-information.png") no-repeat; }


#menu_links {
	width: 182px;
	float:left;
	font-size:11px;
	font-weight:bold;
	text-align:justify;
}

#menu_links ul {
	list-style:none outside none;
	margin:0;
	padding:0;
}

#menu_links li {
	background: url("../images/menu/chains.png") no-repeat;
	width: 137px;
	display:block;
	padding:3px 10px 3px 0px;
	margin: auto;
}

#menu_links li:hover {
	background: url("../images/menu/chains-hover.png") no-repeat;
	width: 137px;
	display:block;
	padding:3px 10px 3px 0px;
	margin: auto;
}

#menu_links li a {
	color:#A3894B;
	display:block;
	text-decoration:none;
	padding: 0px 0px 0px 20px;
}

#menu_links li a:hover {
	color:#CEA74A;
	display:block;
	text-decoration:none;
	padding: 0px 0px 0px 20px;
}

  /* ########################################## */
 /* ################### TEXT ################# */
/* ########################################## */

#content_text {
	margin: 0px 0px 5px 12px;
	width: 625px;
	float: left;
}

  /* ########################################## */
 /* ################ MENU RIGHT ############### */
/* ########################################## */

#menu_right {
	margin: -10px 10px 10px 0px;
	width: 182px;
	margin-right: 90px;

	float: right;
}

.search {
	font: normal 1.375em 'Trade Winds' serif;
    padding: 5px 20px;
    border: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
    border-radius: 7px;
    color: #7E0000;
    text-shadow: 0 1px 2px #DEDEDE;
    background: linear-gradient(to right, #ffff99 0%, #999900 100%);
	border: 1px solid #7F8000;
    width: 120px;
    height: 18px;
	margin: 4px 0px 4px 0px;
}

.online center a{
    font: normal 0.9em 'Trade Winds' serif;
    margin-top: -5px;
    display: block;
}

.stats span {
	/*border-right: 1px solid #fff;*/
	border-left: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	float: left;
	display: block;
}

.stats{
	margin-top: 75px;
}

.stats em {
	display: block;
	background: #fff url(http://jackrugile.com/images/misc/noise-diagonal.png);	
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
	border-top: 1px solid #fff;
}

.stats em:nth-child(odd){
	background: #F1F1F1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

.stats span:first-child {
	box-shadow: inset 1px 0 0 #fff;
}

